/* Text size */
.nH, .nU, .xY, .gt, /* for Buzz */ .Ix {
/* Don't have those large screens anymore... */
/*    font-size: 11pt !important; */
/*    font-family: Monaco;    */
}

div[class="At"] > textarea {
    font-size: 11pt !important;
/*    font-family: Monaco;    */
}

/* Hide ads in message view */
table[class="Bs nH iY"] > tr > td:nth-child(3) {
	display: none !important;
}


/* people bar */
table[class="Bs nH iY"] > tr > td:nth-child(3) {
   display: none !important;
}
table[class="Bs nH dFFoge id"] > tr > td:nth-child(2) {
   display: none !important;
}


/* Hide action buttons below */
div[class=" iE D E"] {
    display: none !important;
}
div[class="AY D E"] {
    display: none !important;
}

/* Hide footer */
.mn, .l6, .mp, .ma {
	display: none !important;
}


/* css fun
div.nH:hover {
    -webkit-transform: rotate(360deg);
    -webkit-transition: all 1s ease-in;
}
*/


