/* Text size */
.nH, .nU, .xY, .gt {
    font-size: 10pt !important;
    font-family: Monaco;
}

div[class="At"] > textarea {
    font-size: 10pt !important;
    font-family: Monaco;
}

/* Hide ads in message view */
table[class="Bs nH iY"] > tr > td:nth-child(3) {
	display: none !important;
}

/* Hide action buttons below */
div[class=" iE D E"] {
    display: none !important;
}
div[class="AY D E"] {
    display: none !important;
}

/* Hide footer */
.mn, .l6, .mp, .ma {
	display: none !important;
}
